@import "tailwindcss";

@theme {
  --keyword-dark: class;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar for Sophisticated Theme */
@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 dark:bg-white/10 rounded-full transition-colors;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#FF5A09]/40;
  }
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}